    <!-- Top Header -->
    <div class="top-header">
        <div class="header-left">
            <span class="luna-icon header-icon" data-icon="x" data-tooltip="Close" data-component="Icon"></span>
            <span class="luna-icon header-icon" data-icon="pin" data-tooltip="Pin" data-component="Icon"></span>
            <span class="luna-icon header-icon" data-icon="gear" data-tooltip="Settings" data-component="Icon"></span>
        </div>
        <div class="header-right">
            <span class="luna-icon header-icon" data-icon="clock" data-tooltip="Recent" data-component="Icon"></span>
            <span class="luna-icon header-icon" data-icon="envelope" data-tooltip="Messages" data-component="Icon"></span>
            <span class="luna-icon header-icon" data-icon="bell" data-tooltip="Notifications" data-component="Icon"></span>
            <span class="luna-icon header-icon" data-icon="circle-question" data-tooltip="Help" data-component="Icon"></span>
            <div class="header-avatar" data-tooltip="Account">JD</div>
        </div>
    </div>
